/*========================================*/
/*------------ [Google_Font] -----------*/
/*========================================*/

@import url('https://fonts.googleapis.com/css2?family=Andika&family=Harmattan:wght@400;700&display=swap');

/*========================================*/
/*------------ [_Root] -----------*/
/*========================================*/
:root {

    /* Colors */
    --white-color: #FFFFFF;
    --black-color: #0f393b;
    --green-color: #347362;
    --litegreen-color: #6b8483;
    --darkgreen-color: #2e6757;
    --beige-110: #eeebe3;
    --beige-60: #f1efe8;
    --beige-10: #e8e5df;
    --orange-color: #f1a680;
    --orange-2: #f5decf;

    /* FontStyle*/
    --fontOne: 'Harmattan', sans-serif;
    --fontTwo: 'Andika', sans-serif;
    

    /* Font Sizes */
    --font-twohun: 4.75rem;
    --font-thirtyTwo: 1.35rem;
    --font-twentyFour: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-thirtyTwo: 2rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* @font-face {
    font-family: 'augustbold';
    src: url('../src/assets/august/august-bold-webfont.woff2') format('woff2'),
         url('../src/assets/august/august-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/*========================================*/
/*--------------- [_Buttons] -------------*/
/*========================================*/
/*Btn Style Max*/


/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
    max-width: 2560px;
    height: 100vh;
    background-color: var(--beige-110);
    font-family: var(--fontOne);
    color: var(--black-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--head-pri-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    color: var(--text-pri-color);
}

h1 {
    font-size: var(--font-thirtyTwo);
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--fontTwo);
}

h2 {
    font-size: var(--font-twentyFour);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1rem;
    font-weight: 600;
}

h5 {
    font-size: var(--font-twelve);
    line-height: 1rem;
    font-weight: 600;
}

h6 {
    font-size: var(--font-eleven);
    line-height: 1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}


/*========================================*/
/*--------------- [Body Wrapper] -------------*/
.bodyWrapper{
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
}

/*========================================*/
/*--------------- [Body] -------------*/
.image{
    width: 15rem;
    height: 15rem;
    margin: 2rem auto;
}